a img {
    display: block;
    width: 15%;
    margin: 0 auto;
    margin-top: 5%;
}

body {
    background-image: linear-gradient(rgb(222, 167, 167), rgb(255, 255, 255));
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container {
    width: 40%;
    margin: 0 auto;

}

/* Bordered form */
form {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
    width: 38%;

    padding-bottom: 10px;
}

/* Full-width inputs */

input[type=text],
input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}

input[type="checkbox"]:checked,
input[type="password"] {
    -webkit-text-security: none;

}

input[type="password"] {
    -webkit-text-security: disc;

}



/* Set a style for all buttons */
input[type=submit],
input[type="login"] {
    background: linear-gradient(to right, rgb(246, 70, 6), orange);
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 49%;
    border-radius: 5px;
}

input[type=submit]:hover,
input[type="login"] {
    background-color: white;
    color: #ffffff;
    border: 1px solid #000000;

}

input[type=submit]:active,
input[type="login"]:active {
    box-shadow: 0 1px #707070;
    transform: translate(5px);
}

input[id=oubli]:hover {
    background-color: rgb(255, 0, 0);
    color: #ffffff;
    border: 1px solid #000000;

}


.inscrit {
    display: flex;
    justify-content: space-around;
    width: 45%;
    height: 8%;

}

.inscrit:link {
    color: rgb(0, 0, 0);
}

.inscrit:visited {
    color: rgb(255, 131, 60);
}

.inscrit:hover {

    color: #6477f3;
    border: solid 1px, black;
}

.inscrit:active {
    color: red;
    border: solid 1px, black;

}