body {
    background-image: linear-gradient(rgb(171, 222, 167), rgb(255, 255, 255));
    background-repeat: no-repeat;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

#container {
    width: 20%;
    margin: 0 auto;

}

form {
    width: 100%;
    padding: 30px;
    border: 1px solid #f1f1f1;
    background: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

#container h1 {
    width: 100%;

    padding-bottom: 10px;
}





input[type=submit],
input[type="register"] {
    background: linear-gradient(to right, rgb(147, 254, 143), rgb(145, 145, 145));
    color: rgb(255, 255, 255);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;

}

input[type=submit]:hover,
input[type="register"] {
    background-color: white;
    color: #ffffff;
    border: 1px solid #000000;
    border-radius: 5px;
}

input[type=text],
input[type=email] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #000000;
    box-sizing: border-box;
    border-radius: 5px;
}