body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Style pour le header */

header {

    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.btn-primary {
    background-color: rgb(179, 65, 65);
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    border-radius: 8px;
}

.dropdown {
    display: var(--navUl);
    color: red;
}

.dropdown-content {
    margin: 0;
    list-style-type: none;
    display: none;
    position: absolute;
    border: 1px solid rgba(255, 255, 255, 1);
    background: rgba(255, 255, 255, 1);
    /*background-color: #f9f9f9;*/
    width: 10%;
    padding: 0;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.443);
    z-index: 100;
    border-radius: 7px;

}

.dropdown-content li a {
    display: block;
    padding: 10px;

    text-decoration: none;
}

.dropdown-content li a:hover {
    background-color: rgba(128, 128, 128, 0.2);
}

.dropdown:hover .dropdown-content {
    display: block;

}

.logo img {
    max-height: 50px;
}


/*barre de recherche*/

.search-container {
    display: flex;
    align-items: center;
    justify-content: right;
}

.search-icon {
    font-size: 24px;
    cursor: pointer;

    /* Augmente le z-index pour que l'icône reste au-dessus de la barre de recherche */
    display: flex;
    align-items: center;
}

input[type="text"] {
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    opacity: 0;
    z-index: 1;
    transition: opacity 0.3s ease-in-out;
    /* Ajoute une transition pour l'opacité */
}

.search-container:hover input[type="text"],
input[type="text"].visible {
    opacity: 1;
    /* Affiche la barre de recherche lorsque la souris survole le conteneur ou lorsqu'elle contient du texte */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.superbounce a {
    margin-left: 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.superbounce2 a {
    margin-left: 40px;
    color: #333;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    justify-content: center;
}

.superbounce :hover {
    animation-name: rebondir;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}

.superbounce2 :hover {
    animation-name: rebondir;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
}


@keyframes rebondir {

    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.login a {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}

.login a:hover {
    background-color: #666;
}


.slides {
    display: flex;

    width: 60%;
}

.slides img {
    display: flex;
    width: 50%;
    height: auto;
    justify-content: space-around;
}



.tableContainer {
    overflow-x: scroll;
}

table {
    border-collapse: collapse;
    width: 100%;
}

.table {
    min-width: 760px;
}

#featuresTable {
    min-width: 450px;
}

thead {
    background-color: var(--grey);
    color: white;
}

th,
td {
    padding: 8px;
    text-align: left;
}

tr {
    border-radius: 7px;
}

table.hoverableRow tbody tr:hover {
    background-color: rgba(98, 98, 98, 0.3);
}

tr:nth-child(even) {
    background-color: rgba(128, 128, 128, 0.3);
}

/* Style pour le footer */

footer {
    background-color: #333;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
}

.separator {
    height: 2px;
    background-color: #fff;
    width: 100%;
    margin-bottom: 1%;
}

.social-media div {
    display: inline-flex;
    margin: 0 10px;

}

.social-media img {
    height: 40px;
    cursor: pointer;

}


.instagram {
    transition: all .2s ease-in-out;
}

.instagram:hover {
    transform: scale(1.2)
}

.facebook {
    transition: all .2s ease-in-out;
}

.facebook:hover {
    transform: scale(1.2)
}

.twitter {
    transition: all .2s ease-in-out;
}

.twitter:hover {
    transform: scale(1.2)
}

.copyright p {
    font-size: 0.8rem;
    text-align: center;
}