/* Style du top-bar */
.top-bar {
    background-color: #f35e5e;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:  10px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
  }
  .top-bar img {
    height: 40px;
  }
  
  .top-bar a {
    color: #fff;
    text-decoration: none;
    padding: 10px;
  }
  
  .top-bar a:hover {
    background-color: #f59191c9;
    border-radius: 5px;
  }
  
  
  .top-bar span {
    margin-right: 10px;
  }